name: Coverage

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: use node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: npm install, coverage
        run: |
          npm i
          npm run coverage
      
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
